<template>
  <table cellspacing="8">
    <tr>
      <td class="long green">ON</td>
    </tr>

    <tr>
      <td class="long gray">OFF</td>
    </tr>
  </table>
</template>

<script>

export default {
  name: 'Control'
}

</script>

<style scoped>
.dashboard__Control table {
  width: 100%;
}

.dashboard__Control table td {
  height: 39px;
  text-align: center;
  border-radius: 4px;
}

.dashboard__Control table td.gray {
  background-color: #C4C4C4;
}

.dashboard__Control table td.green {
  background-color: #1AB900;
}

</style>
