<template>
 <div class="app">
      <button class="btn"> Manual </button>
      <button class="btn"> schedule </button>
      <button class="btn"> AT </button>
</div>
</template>

<script>
export default {
  name: 'ControlBtn'
}
</script>

<style scoped>

.btn {
  height: 29px;
  width: 66px;
  color: rgba(39, 47, 70, 0.3);
  background-color: #C4C4C4;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px;
}
</style>
