<template>
  <table cellspacing="7">
   <tbody>
     <tr>
       <td>
          <div class="box">
            <div class="text_box">
              205
              <b>V</b>
            </div>
            <div class="text_box_gray">
              23
            </div>
          </div>
       </td>
       <td>
         <div class="box">
           <div class="text_box">
             456
             <b>V</b>
           </div>
           <div class="text_box_gray">
             34
           </div>
         </div>
       </td>
       <td>
         <div class="lock_open_img">
            <img src="lock_open.png">
         </div>
       </td>
       <td>
         <div class="lock_open_img">
           <img src="GSM.svg">
           <div class="auto_border">auto</div>
         </div>
       </td>
    </tr>
     <tr>
       <td>
         <div class="box">
           <div class="text_box">
             205
             <b>V</b>
           </div>
           <div class="text_box_gray">
             23
             <b>A</b>
           </div>
         </div>
       </td>
       <td>
         <div class="box">
           <div class="text_box">
             456
           </div>
           <div class="text_box_gray">
             34
             <b>A</b>
           </div>
         </div>
       </td>
     </tr>
     <tr>
       <td>
         <div class="box">
           <div class="text_box">
             205
             <b>V</b>
           </div>
           <div class="text_box_gray">
             23
             <b>A</b>
           </div>
         </div>
       </td>
       <td>
         <div class="box">
           <div class="text_box">
             456
             <b>V</b>
           </div>
           <div class="text_box_gray">
             34
             <b>A</b>
           </div>
         </div>
       </td>
       <td>
         <button class="btn-sun">
           <img src="LS.png" alt style="width: 20px">
         </button>
       </td>
       <td>
         <div class="box">
           <div class="text_box_grae">
             1261
             <b>lx</b>
           </div>
           <div class="text_box_blue">
             2073
             <b>lx</b>
           </div>
         </div>
       </td>
     </tr>
   </tbody>
  </table>
</template>

<script>
export default {
  name: 'Counter'
}
</script>

<style scoped>

.box{
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  display: flex;
  width: 110px;
  height: 25px;
  color: #272F46;
  box-sizing: border-box;
}
.text_box{
  color: #C4C4C4;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text_box_gray{
  background-color: rgba(196, 196, 196, 0.4);
  color: #C4C4C4;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.lock_open_img{
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  border: none !important;
  height: 25px;
  color: #272F46;
  box-sizing: border-box;
}
.auto_border{
  color: #1AB900;
  border: 1px solid #1AB900;
  border-radius: 3px;
  width: 64px;
  height: 15px;
  margin-left: 10px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sun{
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  border-radius: 4px;
}
button{
  outline: none;
  cursor: pointer;
}
.text_box_grae{
  background-color: #C4C4C4;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.text_box_blue{
  background-color: #272F46;
  color: #C4C4C4;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
</style>
