<template>
  <table cellspacing="6">
    <tr>
      <td class="short red">a u t o</td>
    </tr>

  </table>
</template>

<script>
export default {
  name: 'Indicator'
}
</script>

<style scoped>
.dashboard__Indicator table td.short {
  width: 70px;
  text-align: center;
  border-radius: 4px;
}

.dashboard__Indicator table td.red {
  border: 4px solid green;
  border-width: 2px;
}
</style>
