<template>
  <div class="info__wrapper">
    <div class="info__circle">
      <div class="inner"></div>
    </div>
    <div class="info__square">
      <div class="inner"></div>
    </div>
    <div class="info__description">
      <div class="text text-small">направление</div>
      <div class="text text-big">Большаково</div>
      <div class="text text-small">основной</div>
      <div class="text text-middle">ШУНО # 013</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Info'
}
</script>

<style scoped>
.info__wrapper {
  position: relative;
}
.info__circle {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 11px;
  top: 11px;
  border-radius: 50%;
  border: 6px solid #1AB900;
  box-sizing: border-box;
  display: flex;
}

.info__circle .inner {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #1AB900;
  margin: auto;
}

.info__square {
  width: 27px;
  height: 27px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  position: absolute;
  left: 22px;
  top: 68px;
  box-sizing: border-box;
  display: flex;
}

.info__Square .inner {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #C4C4C4;
  margin: auto;
}

.info__description {
  position: absolute;
  left: 77px;
  top: 18px;
}

.info__description .text {
  color: #C1BFBF;
  margin: 0;
  padding: 0;
}

.info__description .text-small {
  font-size: 12px;
}

.info__description .text-middle {
  font-size: 14px;
}

.info__description .text-big {
  font-size: 24px;
}
</style>
