<template>
  <div class="Setting_position">
    <table class="grid" cellspacing="5">
      <tr>
        <td class="green"></td>
        <td class="green"></td>
        <td class="red"></td>
        <td class="green"></td>
      </tr>
      <tr>
        <td class="green"></td>
        <td class="green"></td>
        <td class="red"></td>
        <td class="green"></td>
      </tr>
      <tr>
        <td class="green"></td>
        <td class="green"></td>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
      <tr>
        <td class="green"></td>
        <td class="green"></td>
        <td class="red"></td>
        <td class="empty"></td>
      </tr>
    </table>


      <button class="btn"><p class="text">SET</p></button>


  </div>
</template>

<script>
export default {
  name: 'Settings'
}
</script>

<style scoped>
.Setting_position{
  position: relative;
}

.btn {
  width: 63px;
  height: 63px;
  text-align: center;
  background-color: #C4C4C4;
  display: flex;
  position: absolute;
  top: 22px;
  right: 22px;
  border-radius: 50%;
}

.text {
  color: #272F46;
  font-size: 16px;
  margin: auto;
  font-weight: bold;
}

.dashboard__Settings .grid td {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.dashboard__Settings .grid td.empty {
  border: 1px solid #C4C4C4;
}

.dashboard__Settings .grid td.green {
  background-color: #1AB900;
}

.dashboard__Settings .grid td.red {
  background-color: #EF0622;
}

.dashboard__Settings .grid {
  position: absolute;
  top: 7px;
  right: 100px;
}
</style>
