<template>
  <div id="app">

  <div class="dashboard">

  <div class="dashboard__Info">
    <info_component></info_component>
  </div>
  <div class="dashboard__ControlBtn">
    <controlbtn_component></controlbtn_component>
  </div>
  <div class="dashboard__Control">
    <control_component/>
  </div>
  <div class="dashboard__Counter">
    <counter_component/>
  </div>
  <div class="dashboard__Settings">
    <settings_component/>
  </div>
  </div>
</div>
</template>
<script>
 import Info from '@/components/Info'
 import Control from '@/components/Control'
 import ControlBtn from '@/components/ControlBtn'
 import Counter from '@/components/Counter'
 import Settings from '@/components/Settings'


export default {
  name: 'App',
  components: {
    'info_component' : Info,
    'controlbtn_component' :ControlBtn,
    'control_component' :Control,
    'counter_component' :Counter,
    'settings_component' :Settings
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  font-family: 'Roboto', sans-serif;
}
.dashboard {
  width: 1200px;
  height: 105px;
  background-color: rgba(39, 47, 70, 1);
  border-radius: 35px 10px 10px 10px;
  overflow: hidden;
  display: flex;
}

.dashboard__Info {
  width: 232px;
  height: 105px;
}

.dashboard__ControlBtn {
  width: 70px;
  height: 105px;
  background: rgba(196, 196, 196, 0.4);
}

.dashboard__Control {
  width: 245px;
  height: 105px;
  background: rgba(196, 196, 196, 0.4);
}

.dashboard__Counter {
  width: 480px;
  height: 105px;
}

.dashboard__Settings {
  width: 199px;
}
</style>
